<ul class="post-list">
  {% for post in include.cat limit:include.limit %}
    <li>
      <span class="post-meta">{{ post.date | date: "%d/%m/%Y" }} • {{ post.author }}</span>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape | truncatewords: include.truncate }}</a>
    </li>
  {% endfor %}
</ul>
{% if include.cat.size > include.limit %}
<ul class="pager">
    <li class="next">
        <a href="{{ site.baseurl | append: include.cat_permalink }}">{{ include.button }} &rarr;</a>
    </li>
</ul>
{% endif %}
