<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-heading">
        <h2 class="footer-heading">{{ site.title | escape }}</h2>
      </div>
    </div>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
            <li>
              {% include icon-footer.html icon='icon-bike.svg' linkurl='https://www.mobilitains.fr/' linktext='Les Mobilitains' %}
            </li>
            <li>
              {% assign joinurl = site.website | append: '/adherer' %}
              {% include icon-footer.html icon='icon-join.svg' linkurl='https://www.helloasso.com/associations/transport-nantes/formulaires/2' linktext='Adhérer' linkdesc=' (5€)' %}
            </li>
            <li>
              {% include icon-footer.html icon='icon-donate.svg' linkurl='https://www.helloasso.com/associations/transport-nantes/formulaires/2' linktext='Faire un don' linkdesc=' (déductible)' %}
            </li>
	    {% if False %}
            <li>
              {% assign newsletterurl = site.website | append: '/contact' %}
              {% include icon-footer.html icon='icon-newsletter.svg' linkurl=newsletterurl linktext='Newsletter' %}
            </li>
	    {% endif %}
            <li>
              {% include icon-footer.html icon='icon-contact.svg' linkurl='mailto:jevousaide@transport-nantes.com' linktext='Contact' %}
            </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="contact-list">
          <li>
            {% include icon-footer.html icon='icon-twitter.svg' linkurl='https://twitter.com/mobilitains' linktext='Twitter' %}
          </li>

          <li>
            {% include icon-footer.html icon='icon-facebook.svg' linkurl='https://www.facebook.com/mobilitains' linktext='Facebook' %}
          </li>

          <li>
            {% include icon-footer.html icon='icon-github.svg' linkurl='https://github.com/transport-nantes/planvelo' linktext='Github' linkdesc=' (site web)' %}
          </li>

          <li>
            {% include icon-footer.html icon='icon-github.svg' linkurl='https://github.com/transport-nantes/planvelo-carte/' linktext='Github' linkdesc=' (carte)' %}
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description_footer | escape }}</p>
      </div>
    </div>

  </div>

</footer>
