<div class="image-wrapper" >
    {% if include.link %}
    <a href="{{ include.link | relative_url }}" title="{{ include.caption }}">
    {% endif %}
        <img src="{{ include.img | relative_url }}" alt="{{ include.caption }}"
          {% if include.height %}height="{{ include.height }}"{% endif %} />
    {% if include.link %}
    </a>
    {% endif %}
    {% if include.caption %}
        <p class="image-caption">
          {{ include.caption }}
          {% if include.source-text %}
            Source:
            {% if include.source-link %}
              <a href="{{ include.source-link }}" rel="nofollow">
            {% endif %}
            {{ include.source-text }}
            {% if include.source-link %}
              </a>
            {% endif %}
          {% endif %}
        </p>
    {% endif %}
</div>
