<div class="panel panel-default">
  <div class="panel-body">
    <div id="mapFrame"></div>
    <!-- Build the map using Leaflet.js -->
    <script type="text/javascript">
      // Helper function to create a popup for each feature
      function popup(feature, layer) 
      {
        if (feature.properties && feature.properties.name) 
        {
          var lengthFeature = Math.round( 10 * turf.lineDistance(feature) ) / 10 ; 
          layer.bindPopup("<b>"+feature.properties.name+"</b><br/>Longueur : "+lengthFeature+"km");
        }
      }

      // Create the map with Mapbox tiles
      var map = L.map('mapFrame').setView([48.8548, 2.3576], 12);
      L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpandmbXliNDBjZWd2M2x6bDk3c2ZtOTkifQ._QA7i5Mpkd_m30IGElHziw', {
        maxZoom: 18,
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
          '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
          'Imagery © <a href="http://mapbox.com">Mapbox</a>',
        id: 'mapbox.light'
      }).addTo(map);

      // Add the GeoJSON features to the map
      var geojsonLayer = new L.GeoJSON.AJAX(
        "https://raw.githubusercontent.com/ParisEnSelle/planvelo-carte/master/planvelo.geojson", 
        {onEachFeature: popup} );       
      geojsonLayer.addTo(map);

    </script>
    <ul class="legend">
      <li><span class="grey"></span>Plan Vélo (Projet)</li><br>
      <li><span class="green"></span>Réalisé - Satisfaisant</li><br>
      <li><span class="orange"></span>Réalisé - Non Satisfaisant</li><br>
      <li><span class="red"></span>Abandonné</li>
    </ul>
 </div>
</div>
