<div class="panel panel-default">
  <div class="panel-body">
    <div id="mapFrame"></div>
    <!-- Build the map using Leaflet.js -->
    <script type="text/javascript">
      // Helper function to create a popup for each feature
      function popup(feature, layer) 
      {
        var popupContent = '' ; 
        var lengthFeature = Math.round( 10 * turf.lineDistance(feature) ) / 10 ;

        if (feature.properties && feature.properties.name) 
          popupContent += "<b>"+feature.properties.name+"</b><br/>" ;      
        if (feature.properties && feature.properties.description) 
          popupContent += feature.properties.description+"<br/>" ; 

        popupContent += "Longueur : "+lengthFeature+"km";

        layer.bindPopup(popupContent) ;
      }

      // Create the map with Mapbox tiles
      var map = L.map('mapFrame').setView([48.8548, 2.3576], 12);
      L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="http://cartodb.com/attributions">CartoDB</a> | Paris en Selle',
        subdomains: 'abcd',
      }).addTo(map);

      // Add the GeoJSON features to the map
      var geojsonLayer = new L.GeoJSON.AJAX(
        "https://raw.githubusercontent.com/ParisEnSelle/planvelo-carte/master/planvelo.geojson", 
        {onEachFeature: popup, style: {color:'grey'}} );       
      geojsonLayer.addTo(map);

    </script>
    <ul class="legend">
      <li><span class="grey"></span>Plan Vélo (Projet)</li><br>
      <li><span class="green"></span>Réalisé - Satisfaisant</li><br>
      <li><span class="orange"></span>Réalisé - Non Satisfaisant</li><br>
      <li><span class="red"></span>Abandonné</li>
    </ul>
 </div>
</div>
