---
layout: default
---

<div class="home">

  <h1 class="post-title">Suivi du plan vélo</h1>

  {{ content }}

  <ul class="post-list">
    {% for post in site.categories.article %}
      <li>
        <span class="post-meta">{{ post.date | date: "%d/%m/%Y" }} • {{ post.author }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <h1 class="post-title">Articles de presse</h1>

  <ul class="post-list">
    {% for post in site.categories.press %}
      <li>
        <span class="post-meta">{{ post.date | date: "%d/%m/%Y" }} • {{ post.author }}</span>
        <h2>
          <a target="_blank" rel="nofollow" class="post-link" href="{{ post.link }}">{{ post.title | escape }} <img src="{{ 'assets/external.png' | relative_url }}" alt="external"></a>
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>
