---
layout: default
---

<div class="home">

  <h1 class="page-heading">Articles</h1>

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <h1 class="page-heading">Presse</h1>

  <ul class="post-list">
      <li>
        <span class="post-meta">Les échos _ Jan 11, 2017</span>

        <h2>
          <a class="post-link" href="http://www.lesechos.fr/politique-societe/regions/0211681908517-paris-un-an-de-retard-pour-le-plan-velo-2056347.php">Paris : un an de retard pour le plan vélo</a>
        </h2>
      </li>
  </ul>

</div>
